.container {
    width: 85%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}
.home-hero{
    margin-top: 50px;
    .hero_wrapper{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        .left_hero{
            color: white;
            button{
                background-color: #A259FF;
                border: 1px solid #A259FF;
                padding: 10px;
                border-radius: 10px;
                color: white;
                transition: all ease 0.4s;
                &:hover{
                    background-color: transparent;
                    color: #A259FF;
                }
            }
        }
        .right_hero{
            img{
                width: 100%;
                
            }
        }
    }
}
@media (min-width: 760px) {
    .home-hero{
        margin-top: 100px;
        .hero_wrapper{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 50px;
            .left_hero{
                width: 70%;
                h1{
                    font-size: 55px;
                }
                p{
                    font-size: 20px;
                }
                button{
                    width: 224px;
                }
            }
        }
    }
}